@import "vars";

@mixin on-mobile-s {
  @media (max-width: $max-width-500) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: $max-width-650) {
    @content;
  }
}

@mixin landscape {
  @media only screen and (max-device-width: 640px) and (orientation: landscape) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: $max-width-860) {
    @content;
  }
}

@mixin on-desktop-s {
  @media (max-width: $max-width-1024) {
    @content;
  }
}

@mixin on-desktop {
  @media (max-width: $max-width-1200) {
    @content;
  }
}

@mixin page-grid() {
  --columns: 2;

  display: grid;
  gap: 30px;

  @include on-desktop {
    --columns: 12;
  }

  @include on-desktop-s {
    --columns: 6;
  }

  @include on-tablet {
    gap: 20px;
  }

  @include on-mobile {
    --columns: 2;
  }
}
