@import "vars";
@import "mixin";
@import "reset";
@import "libs";
@import "./blocks/header";
@import "./blocks/slider";
@import "./blocks/categories";
@import "./blocks/fashion";
@import "./blocks/products";
@import "./blocks/promo";
@import "./blocks/partners";
@import "./blocks/blog";
@import "./blocks/modal";
@import "./blocks/page-404";
@import "./blocks/shop";
@import "./blocks/products-page";
@import "./blocks/blog-page";
@import "./blocks/blog-one";
@import "./blocks/contacts";
@import "./blocks/footer";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $default-grey;
}

.header--404-page {
  background-color: $bg;
}

.section {
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 80px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $white-color;
  padding: 15px 33px;
  text-transform: uppercase;
  background-color: $accent-color;
  box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
}

.button--padding {
  padding: 15px 25px;
}

.main {
  flex-grow: 1;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: $default-black;
  text-transform: uppercase;

  @include on-desktop-s {
    font-size: 40px;
  }

  @include on-tablet {
    font-size: 34px;
  }

  @include on-mobile {
    font-size: 30px;
  }

  @include on-mobile {
    font-size: 27px;
  }
}

.section-subtitle {
  display: flex;
  text-align: center;
  max-width: 580px;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 15px 30px;
  color: $default-black;
  border: 1px solid $accent-color;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.3s;
}

.top {
  text-align: center;
  line-height: 1;

  &__container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 130px 0 135px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: $default-black;
    margin-bottom: 22px;
  }
}

.breadcrumbs {
  line-height: 1;

  &__list {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__item {
    color: #727272;
    position: relative;

    &:first-child {
      margin-left: 30px;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:last-child {
      color: $accent-color;
    }

    &:first-child::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../img/icons/breadcrumb-home.png");
      width: 16px;
      height: 16px;
      left: -22px;
      top: -2px;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../img/icons/breadcrumb-arrow.png");
      width: 8px;
      height: 10px;
      right: -23px;
      top: 5px;
    }
  }
}

