@import "vars";
@import "mixin";
@import "reset";
@import "libs";
@import "./blocks/header";
@import "./blocks/slider";
@import "./blocks/categories";
@import "./blocks/fashion";
@import "./blocks/products";
@import "./blocks/footer";

html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $default-grey;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $white-color;
  padding: 15px 33px;
  text-transform: uppercase;
  background-color: $accent-color;
  box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
}

.button--padding {
  padding: 15px 25px;
}

.main {
  flex-grow: 1;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: $default-black;
  text-transform: uppercase;
}

.section-subtitle {
  display: flex;
  text-align: center;
  max-width: 570px;
}
