.categories {
  background-image: url("../../img/decors/categories-bg-left.png");
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url("../../img/decors/gategories-bg-right.png");
    background-repeat: no-repeat;
    background-position: center right;
  }

  &__top-list {
    display: flex;
    position: relative;
    z-index: 2;
    margin-bottom: 110px;
    gap: 30px;

    @include on-desktop {
      margin-bottom: 80px;
    }

    @include on-tablet {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;

       @include on-desktop {
        display: none;
      }
    }

    &::before {
      background-image: url("../../img/decors/circle.jpg");
      width: 120px;
      height: 120px;
      top: -40px;
      left: -45px;
    }

    &::after {
      background-image: url("../../img/decors/square.jpg");
      width: 65px;
      height: 52px;
      bottom: -22px;
      right: -22px;
    }
  }

  &__top-item {
    background-color: $white-color;
    padding: 60px 40px;
    text-align: left;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

    @include on-desktop {
      padding: 40px 30px;
    }

    @include on-desktop-s {
      padding: 20px 15px;
      min-width: 270px;
    }

    @include on-tablet {
      width: 270px;
    }

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      margin-bottom: 35px;
    }
  }

  &__top-item--car::before {
    background-image: url("../../img/icons/car.png");
  }

  &__top-item--days::before {
    background-image: url("../../img/icons/30-days.png");
  }

  &__top-item--support::before {
    background-image: url("../../img/icons/support.png");
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: $default-black;
    margin-bottom: 20px;

    @include on-desktop-s {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;

    @include on-mobile {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    margin: 0 auto;
    margin-bottom: 55px;

    @include on-mobile {
      margin-bottom: 40px;
    }
  }

  &__bottom-list {
    height: 630px;

    @include page-grid;
  }

  &__item {
    padding: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include on-desktop-s {
      background-position: center top;
      padding: 20px;
    }

    @include on-tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-image: none !important;
    }
  }

  &__bottom-item--jewellry {
    grid-column: 1 / 5;
    grid-row: span 2;
    background-position: center bottom;

    @include on-desktop-s {
      grid-row: 1;
      grid-column: 1 / 4;
      background-position: center top;
    }

    @include on-tablet {
      background-color: #eedeef;
    }

    @include on-mobile {
      grid-column: 1 / 3;
    }
  }

  &__bottom-item--accessories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 5 / 13;

    @include on-desktop-s {
      background-position: center right;
      justify-content: start;
      grid-column: 4 / 6;
    }

    @include on-tablet {
      background-color: #deeeef;
      justify-content: center;
    }

    @include on-mobile {
      grid-column: 1 / 3;
    }
  }

  &__bottom-item--fashion-m {
    grid-column: 5 / 9;

    @include on-desktop-s {
      grid-column: 1 / 4;
    }

    @include on-tablet {
      background-color: #fef6a9;
    }

    @include on-mobile {
      grid-column: 1 / 3;
    }
  }

  &__bottom-item--fashion-g {
    grid-column: 9 / 13;

    @include on-desktop-s {
      grid-column: 4 / 6;
    }

    @include on-tablet {
      background-color: $border;
    }

    @include on-mobile {
      grid-column: 1 / 3;
    }
  }

  &__bottom-text {
    margin-bottom: 5px;
  }

  &__bottom-text--purple {
    color: #5800e4;
  }

  &__bottom-text--red {
    color: #fe3e57;
  }

  &__bottom-text--yellow {
    color: #ffb534;
  }

  &__bottom-text--blue {
    color: #34c3ff;
  }

  &__bottom-desc {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: $default-black;
    margin-bottom: 5px;

    @include on-tablet {
      font-size: 20px;
    }
  }

  &__link {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: $default-black;
    max-width: fit-content;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: color 0.3s;

    &:hover {
      border-color: $accent-color;
      color: $accent-color;
    }
  }
}
