#map {
  height: 450px;
  width: 100%;
  margin-bottom: 120px;
}

.contacts {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__info {
    margin-right: 30px;
    max-width: 370px;
    width: 100%;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: $default-black;
    line-height: 58px;
    font-size: 48px;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__item {
    padding-left: 80px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 55px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: -6px;
      left: 0;
      box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
    }

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 13px;
      left: 20px;
      width: 20px;
      height: 20px;
    }

    &--phone::after {
      background-image: url(../../img/icons/phone.png);
    }

    &--location::after {
      background-image: url(../../img/icons/location.png);
    }

    &--email::after {
      background-image: url(../../img/icons/email.png);
    }
  }

  &__link {
    color: $default-black;
    display: block;
  }

  &__form {
    padding: 60px 40px;
    max-width: 770px;
    width: 100%;
    box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
  }

  &__form-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: $default-black;
    line-height: 58px;
    font-size: 22px;
    margin-bottom: 25px;
  }

  &__input-box {
    display: flex;
    margin-bottom: 30px;
  }

  &__input {
    background-color: $bg;
    padding: 0 24px;
    display: block;
    height: 50px;
    width: 100%;
  }

  &__input-name {
    margin-right: 30px;
  }

  &__input-mail {
  }

  &__input-subject {
    margin-bottom: 30px;
  }

  &__textarea {
    margin-bottom: 30px;
    height: 200px;
    resize: none;
    padding: 24px 24px;
  }

  &__form-btn {
    height: 60px;
    letter-spacing: 3px;
    line-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
