.fashion {
  background-image: url("../../img/fashion-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include on-tablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__link-popup {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 480px;
    max-width: 540px;
    width: 100%;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include on-desktop {
      width: 50%;
    }

    @include on-desktop-s {
      margin-right: 30px;
    }

    @include on-tablet {
      margin: 0;
      min-width: 100%;
      height: 380px;
      background-position: top center;
    }

    @include on-mobile {
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../../img/play-btn.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 130px;
      height: 130px;
    }
  }

  &__content {
    max-width: 570px;

    @include on-desktop {
      width: 50%;
    }

    @include on-tablet {
      margin: 0;
      min-width: 100%;
      text-align: center;
      padding-top: 20px;
      order: -1;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    color: $accent-color;
    font-size: 22px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;

    @include on-tablet {
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 55px;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__btn {
    margin-bottom: 30px;
  }
}
