.footer {
  padding: 75px 0 25px;
  background-color: $bg;

  @include on-mobile {
    padding: 40px 0 25px;
  }

  &__top {
    border-bottom: 1px solid $border;
    padding-bottom: 55px;
    margin-bottom: 25px;

    @include page-grid;
  }

  &__contact {
    grid-column: 1 / 4;

    @include on-tablet {
      grid-column: 1 / 2;
    }

    @include on-mobile {
      grid-column: 1;
    }
  }

  &__contact-link {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__addres {
    max-width: 250px;
  }

  &__phone {
    margin-bottom: 30px;

    @include on-mobile {
      margin-bottom: 20px;
    }
  }

  &__item {
    overflow: hidden;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: $default-black;
    margin-bottom: 30px;

    @include on-mobile {
      margin-bottom: 20px;
    }

    &-slide {
      pointer-events: none;

      @include on-mobile {
        display: flex;
        align-items: center;
        pointer-events: all;

        &::after {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          background-color: transparent;
          background-image: url(../../img/icons/square-caret-down.svg);
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 50px;
        }

        &.active::after {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          background-color: transparent;
          background-image: url(../../img/icons/square-caret-up.svg);
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 50px;
        }
      }
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
  }

  &__links {
    grid-column: 4 / 6;

    @include on-desktop {
      grid-column: 4 / 8;
    }

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-mobile {
      grid-column: span 2;
    }
  }

  &__account {
    grid-column: 6 / 8;

    @include on-desktop {
      grid-column: 8 / 13;
    }

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-mobile {
      grid-column: span 2;
    }
  }

  &__subscribe {
    max-width: 470px;
    grid-column: 8 / 13;

    @include on-desktop {
      grid-column: 1 / 8;
    }

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-mobile {
      grid-column: span 2;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__form {
    @include on-mobile {
      @include page-grid;
    }
  }

  &__input {
    padding: 15px;
    max-width: 320px;
    width: 100%;
    margin-right: 10px;
    box-shadow: 0 7px 20px 0 rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default-grey;
      font-size: 16px;
    }

    @include on-mobile {
      max-width: 100%;
      grid-column: span 2;
    }
  }

  &__btn {
    @include on-mobile {
      grid-column: span 2;
    }
  }

  &__bottom {
    font-size: 12px;
    line-height: 34px;

    display: flex;
    justify-content: space-between;

    @include on-mobile {
      @include page-grid;
    }
  }

  &__bottom-text {
    @include on-mobile {
      text-align: center;
      grid-column: span 2;
    }
  }

  &__payments {
    display: flex;
    justify-content: end;
    align-items: center;

    @include on-mobile {
      grid-column: span 2;
      justify-content: center;
      order: -1;
    }
  }

  &__span {
    margin-right: 20px;
  }

  &__payments-link {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.socials {
  align-items: center;
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 19px;
    }
  }

  &__link {
    vertical-align: sub;

    path {
      transition: fill 0.5s;
      fill: $default-grey;
    }

    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }
}
