.page-404 {
  padding: 120px 0;

  @include on-desktop {
    padding: 80px 0;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include on-desktop {
      flex-direction: column;
    }
  }

  &__inner {
    max-width: 570px;
    width: 100%;

    @include on-desktop {
      order: 1;
    }
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #28384f;
    margin-bottom: 30px;

    @include on-mobile {
      font-size: 40px;
      margin-bottom: 20px;
    }

    @include on-mobile-s {
      line-height: normal;
    }
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;

    @include on-desktop-s {
      margin-bottom: 40px;
    }

    @include on-mobile {
      margin-bottom: 25px;
    }
  }

  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $white-color;
    padding: 15px 33px;
    display: inline-block;
    text-transform: uppercase;
    background-color: $accent-color;
    box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
  }

  &__picture {
    object-fit: cover;
  }
}
