.promo {
  background-image: url("../../img/promo-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  background-color: $bg;
  padding: 155px 0 160px;
  text-align: center;
  margin-bottom: 120px;

  @include on-desktop-s {
    background-size: cover;
  }

  @include on-tablet {
    margin-bottom: 80px;
    padding: 90px 0 90px;
  }

  &__content {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    font-size: 22px;
    color: $accent-color;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__clock {
    display: flex;

    @include on-mobile {
      justify-content: center;
    }
  }

  &__clock-item {
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    background-color: $white-color;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-bottom: 55px;

    &:not(:last-child) {
      margin-right: 30px;

      @include on-mobile {
        margin-right: 15px;
      }

      @include on-mobile-s {
        margin-right: 5px;
      }
    }

    @include on-mobile {
      width: 90px;
      height: 90px;
    }

    @include on-mobile-s {
      width: 70px;
      height: 70px;
    }
  }

  &__span {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: $default-black;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 9px;

    @include on-mobile {
      font-size: 38px;
      margin-bottom: 0;
    }

    @include on-mobile-s {
      font-size: 30px;
    }
  }

  &__text {
    @include on-mobile {
      line-height: 1;
      margin-bottom: 5px;
    }

    @include on-mobile-s {
      font-size: 14px;
    }
  }
}
