.slider {
  background-image: url("../../img/slider/slider-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $bg;
  padding-top: 65px;
  position: relative;

  @include on-tablet {
    background-size: contain;
  }

  @include on-mobile {
    padding-bottom: 65px;
  }

  &__pagination {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 125px;

    @include on-desktop {
      width: 50%;
      padding-top: 70px;
    }

    @include on-tablet {
      padding-top: 0;
      margin-bottom: 50px;
      width: 100%;
    }
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: $default-black;
    margin-bottom: 30px;
    max-width: 670px;

    @include on-desktop-s {
      font-size: 40px;
      line-height: 48px;
    }

    @include on-tablet {
      margin-bottom: 15px;
    }

    @include on-mobile {
      font-size: 28px;
      line-height: 38px;
    }
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;

    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__picture {
    @include on-desktop {
      max-width: 50%;
      object-fit: contain;
    }
  }
}

.slick-slide .slider__picture {
  @include on-tablet {
    display: none;
  }
}

.slider__inner .slick-dots {
  @include on-mobile {
    bottom: -40px;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  li {
    line-height: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }

    button {
      padding: 0;
      font-size: 0;
      background-color: transparent;
      height: 26px;
      width: 26px;
      border: 1px solid transparent;
      border-radius: 50%;
      position: relative;

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $default-grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.slick-active {
      button {
        border-color: $accent-color;

        &::before {
          background-color: $accent-color;
        }
      }
    }
  }
}
